﻿nav {
    background-color: #eeefef;
    border-bottom: #e3e3e3 solid 1px;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: "title links";
    align-content: center;
    align-items: center;
    padding: 12px;
}

.nav-title {
    margin: 0;
    grid-area: title;
    font-size: 1.2rem;
}

.nav-links {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    grid-area: links;
    justify-self: end;
    display: flex;
}

.nav-link {
    font-weight: bold;
    color: #202121;
}
.nav-link:hover {
    color: #e21b51;
}