﻿.race-extract {
    display: flex;
    flex-direction: column;
    background: linear-gradient(160deg, rgba(246,246,246,1) 0%, rgba(230,230,230,1) 100%);
    border: solid 1px #e3e3e3;
    border-radius: 24px;
    box-shadow: 0 4px 12px -2px rgba(30,0,0,0.2);
    overflow: hidden;
}

.race-info {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    background-color: #303131;
    color: #fdfdfd;
    padding: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.race-date, .race-location {
    margin: 0;
}

.race-winners {
    grid-area: winners;
}

.race-winner {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 12px;
    display: flex;
    justify-content: space-between;
}
.race-winner > p {
    margin: 0;
}

.race-winner:nth-child(1) {
    background: linear-gradient(160deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}

.race-winner:nth-child(2) {
    background: linear-gradient(160deg, rgba(180,182,191,1) 0%, rgba(247,247,247,1) 25%, rgba(161,168,173,1) 50%, rgba(207,209,218,1) 75%, rgba(133,136,162,1) 100%);
}

.race-winner:nth-child(3) {
    background: linear-gradient(160deg, rgba(195,154,131,1) 0%, rgba(222,211,187,1) 25%, rgba(152,114,75,1) 50%, rgba(205,160,111,1) 75%, rgba(153,80,56,1) 100%);
}