﻿.season-extract, .season-full {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.season-extract > .season-drivers {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
}

.season-full > .season-drivers {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
}

/* Basic responsive */
@media(max-width: 800px) {
    .season-full > .season-drivers, .season-extract > .season-drivers {
        grid-template-columns: 1fr;
    }
}

.season-header {
    padding: 12px 0;
    grid-area: heading;
    border-top: #e3e3e3 solid 2px;
    border-bottom: #e3e3e3 solid 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.season-title {
    margin: 0;
}
.season-full .season-title {
    font-size: 3rem;
    font-weight: bold;
    color: #e21b51;
}

.season-link {
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
}
.season-link:hover {
    color: #e21b51;
}

.season-driver {
    display: grid;
    width: 100%;
    aspect-ratio: 2/1;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
    gap: 12px;
    background: linear-gradient(160deg, rgba(246,246,246,1) 0%, rgba(230,230,230,1) 100%);
    border: solid 1px #e3e3e3;
    border-radius: 24px;
    box-shadow: 0 4px 12px -2px rgba(30,0,0,0.2);
    overflow: hidden;
}

.season-driver:nth-child(1) {
    background: linear-gradient(160deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}

.season-driver:nth-child(2) {
    background: linear-gradient(160deg, rgba(180,182,191,1) 0%, rgba(247,247,247,1) 25%, rgba(161,168,173,1) 50%, rgba(207,209,218,1) 75%, rgba(133,136,162,1) 100%);
}

.season-driver:nth-child(3) {
    background: linear-gradient(160deg, rgba(195,154,131,1) 0%, rgba(222,211,187,1) 25%, rgba(152,114,75,1) 50%, rgba(205,160,111,1) 75%, rgba(153,80,56,1) 100%);
}

.season-driver-title {
    padding: 24px;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
}

.season-driver-info {
    justify-self: stretch;
    padding: 12px;
    background-color: #303131;
    display: flex;
    color: #fdfdfd;
    gap: 12px;
    justify-content: end;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.4);
}
.season-driver-info > p {
    margin: 0;
}