﻿.two-thirds {
    display: grid;
    gap: 12px;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-template-areas: "right" "left";
    align-content: start;
    width: 100%;
    position: relative;
    padding: 12px;
}

.two-thirds > .left {
    grid-area: left;
    justify-self: start;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.two-thirds > .right {
    grid-area: right;
    justify-self: end;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Basic responsive */
@media(min-width: 800px) {
    .two-thirds {
        grid-template-rows: auto;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "left right";
    }
    .two-thirds > .right {
        border-left: solid #dddddd 1px;
        padding-left: 12px;
    }
}