* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  color: #202121;
  background-color: #edeeee;
  font-family: 'Poppins', sans-serif;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  color: #e21b51;
  border-bottom: #e21b51 4px solid;
  padding: 12px;
}